
<form class="form" [formGroup]="passwordForm">
  <div class ="form-group">
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="newPassword" formControlName="newPassword" class="form-control" id="inputPassword"
           aria-describedby="passwordHelp" placeholder="Enter password required">
    <div *ngIf="submitted && passwordForm.controls.newPassword.errors" class="error">
      <small class="form-text text-danger" *ngIf="passwordForm.controls.newPassword.errors.required">Password is required!</small>
    </div>
    <div *ngIf="submitted && passwordForm.controls.newPassword.value != null && passwordForm.controls.newPassword.value.length < 8" class="error">
      <small class="form-text text-danger">Password must be at least 8 characters long!</small>
    </div>
  </div>
  <div class="form-group">
    <label for="inputRePassword">Confirm Password</label>
    <input type="password" name="rePassword" formControlName="rePassword" class="form-control" id="inputRePassword"
           aria-describedby="rePasswordHelp" required placeholder="Re-enter password">
    <div *ngIf="submitted && passwordForm.controls.rePassword.value === passwordForm.controls.newPassword.value && passwordForm.controls.rePassword.value === ''" class="error">
      <small class="form-text text-danger">Password is required!</small>
    </div>
    <div *ngIf="submitted && passwordForm.controls.rePassword.value !== passwordForm.controls.newPassword.value" class="error">
      <small class="form-text text-danger">Passwords don't match!</small>
    </div>
  </div>
  <button class="btn btn-success float-right" type="button" data-dismiss="modal" (click)="changePassword()" [disabled]="passwordForm.invalid || this.passwordForm.controls.rePassword.value !== this.passwordForm.controls.newPassword.value">reset password</button>
</form>
