<!-- bootstrap alert displaying error message -->
<div *ngIf="error" id="errorMessage" class="alert alert-danger alert-dismissable fade show shadow-lg p-3 mb-5 rounded"
     role="alert">
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close Error message">
    <span aria-hidden="true">x</span>
  </button>
  <strong>Error!{{errorMessage}}</strong>
</div>

<!-- table displaying customer search results -->
<div *ngIf="dataReady && totalPages > 0">
  <div class="row mt-4 mb-4">
    <button *ngIf="isAdmin()" type="button" class="btn btn-secondary btn-sm m-2" data-toggle="modal"
            data-target="#add-customer">Add
      Customer
    </button>
    <button type="button" class="btn btn-secondary btn-sm m-2" data-toggle="modal" data-target="#search-customers">
      Search Customers
    </button>
    <button type="button" class="btn btn-secondary btn-sm m-2" (click)="resetCustomerFilter()">
      Show All Customers
    </button>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">
        Name
      </th>
      <th scope="col">
        First Name
      </th>
      <th scope="col">
        E-Mail
      </th>
      <th scope="col">
        Birthday
      </th>
      <th scope="col" *ngIf="isAdmin()">
        Change
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{customer.name}}</td>
      <td>{{customer.firstname}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.birthday | date:"dd/MM/yyyy"}}</td>
      <td *ngIf="isAdmin()">
        <button type="button" class="btn btn-secondary btn-sm m-2" data-toggle="modal" data-target="#update-customer"
                (click)="setActiveCustomer(customer)">
          Edit
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <hr class="hr-bold">
  <div class="justify-content-center" *ngIf="totalPages > 1">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="" (click)="setPage(0, $event)">«</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="previousPage($event)">Previous</a>
      </li>
      <li class="nav-item" *ngIf="page - 5 > 0 && totalPages > 11">
        <a class="nav-link">...</a>
      </li>
      <li class="nav-item" *ngFor="let p of pageRange;">
        <a class="nav-link" href="" (click)="setPage(p, $event)" [ngClass]="{'active': p == page}">{{p + 1}}</a>
      </li>
      <li class="nav-item" *ngIf="totalPages - 5 > page && totalPages > 11">
        <a class="nav-link">...</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="nextPage($event)">Next</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="setPage(totalPages - 1, $event)">»</a>
      </li>
    </ul>
  </div>
</div>

<!-- Modal to search for customers using costumer dialog component -->
<div class="modal fade" id="search-customers" tabindex="-1" role="dialog" aria-labelledby="Search costumers modal"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Costumers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <app-customer-dialog
          title="Search Customers"
          (submitCustomer)="searchCustomers($event, 0)">
        </app-customer-dialog>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to update customer using costumer dialog component -->
<div class="modal fade" id="update-customer" tabindex="-1" role="dialog" aria-labelledby="Update costumer modal"
     aria-hidden="true"
     *ngIf="activeCustomer !== undefined">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Costumer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <app-customer-dialog
          title="Update Customer"
          [customer]="this.activeCustomer"
          (submitCustomer)="updateCustomer($event)">
        </app-customer-dialog>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal to add customer using costumer dialog component -->
<div class="modal fade" id="add-customer" tabindex="-1" role="dialog" aria-labelledby="Add costumer modal"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Costumer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <app-customer-dialog
          title="Add Customer"
          (submitCustomer)="addCustomer($event)">
        </app-customer-dialog>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



