<div class="row">
  <button *ngIf="isAdmin()" type="button" class="btn btn-secondary btn-sm my-2" routerLink="/customer-add">Add
    Customer
  </button>
  <button type="button" class="btn btn-secondary btn-sm m-2" data-toggle="modal" data-target="#search-customers">
    Search Customers
  </button>
</div>

<app-customer-dialog
  title="Search Customers"
  (submitCustomer)="searchCustomers($event)">
</app-customer-dialog>

<table class="table">
  <thead>
  <tr>
    <th scope="col">
      ID
    </th>
    <th scope="col">
      Name
    </th>
    <th scope="col">
      First Name
    </th>
    <th scope="col">
      E-Mail
    </th>
    <th scope="col">
      Date
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <th scope="row">{{customer.id}}</th>
    <td>{{customer.name}}</td>
    <td>{{customer.firstname}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.birthday}}</td>
  </tr>
  </tbody>

</table>

