#svg-container {
  width: 70%;
  border-radius: 7px;
  overflow: hidden;
  position: relative;

  svg {
    position:  absolute;
    cursor: grab;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
  }

  path {
    fill-opacity: 0.5;
    cursor: pointer;
  }

  .grabbing {
    cursor: grabbing;

    path {
      cursor: grabbing;
    }
  }
}

#svg-container:before{
  content: "";
  display: block;
  padding-top: 70%;
}

#svg-container:hover, #updateForm:hover ~ #svg-container, #contextmenu:hover ~ #svg-container {
  outline: none;
  border: 2px solid #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

#updateForm {
  position: absolute;
  display: none;
  width: 300px;
  z-index: 9999;

  form {
    position: relative;
    padding-bottom: 20px;
    background-color: #e9ecef;
    -webkit-filter: drop-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
    filter: drop-shadow(0 1px 3px rgba(34, 25, 25, 0.4));
  }

  form:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #e9ecef;
    border-top: 0;
    margin-left: -20px;
    margin-top: -20px;
  }
}

#contextmenu {
  z-index: 9999;
}
