<!-- draws a floor plan with seats -->
<div *ngIf="seats !== undefined">
  <svg id="floorplan"
       [attr.viewBox]="this.viewbox"
       preserveAspectRatio="xMinYMin slice">
    <path *ngFor="let seat of seats"
          [attr.d]="getSeatPath(seat)"
          [attr.fill]="getColor(seat)"
          (click)="selectSeat($event, seat)"></path>
  </svg>
</div>
<!-- draws a floor plan with sectors -->
<div *ngIf="sectors !== undefined">
  <svg id="floorplan"
       [attr.viewBox]="this.viewbox"
       preserveAspectRatio="xMinYMin slice">
    <path *ngFor="let sector of sectors"
          [attr.d]="getSectorPath(sector)"
          [attr.fill]="getColor(sector)"
          (click)="selectSector($event, sector)"></path>
  </svg>
</div>
