<h1 class="mt-5">Top 10 Events</h1>

<p class="mt-5">Category:</p>

<div class="mr-5 chboxes" *ngFor="let cat of getCategories()">
    <mat-checkbox>{{cat}}</mat-checkbox>
</div>

<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownMonth" ngbDropdownToggle>Month</button>
      <div ngbDropdownMenu aria-labelledby="dropdownMonth">
        <button ngbDropdownItem>January</button>
        <button ngbDropdownItem>February</button>
        <button ngbDropdownItem>March</button>
        <button ngbDropdownItem>April</button>
        <button ngbDropdownItem>May</button>
        <button ngbDropdownItem>June</button>
        <button ngbDropdownItem>July</button>
        <button ngbDropdownItem>August</button>
        <button ngbDropdownItem>September</button>
        <button ngbDropdownItem>October</button>
        <button ngbDropdownItem>November</button>
        <button ngbDropdownItem>December</button>
      </div>
    </div>
  </div>
</div>
