<!-- dialog to search for customers -->

<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{title}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">x</span> <!--TODO: why aria-hidden = true? -->
      </button>
    </div>
    <div class="modal-body">
      <form #customerForm="ngForm" class="form" (ngSubmit)="customerForm.valid && onSubmit()">
        <div class="form-group" *ngIf="title === 'Search Customers'">
          <label for="customerId">ID</label>
          <input id="customerId" type="number" name="id" class="form-control"
                 aria-labelledby="customer ID"
                 placeholder="Enter Customer ID"
                 [(ngModel)]="customerModel.id"
                 [required]="requiredValues"/>
        </div>
        <div class="form-group form-row">
          <div class="col">
            <label for="customerFirstName">First Name</label>
            <input id="customerFirstName" type="text" name="firstName" class="form-control"
                   aria-labelledby="customer first name"
                   placeholder="Enter First Name"
                   [(ngModel)]="customerModel.firstname"
                   [required]="requiredValues"/>
          </div>
          <div class="col">
            <label for="customerName">Name</label>
            <input id="customerName" type="text" name="lastName" class="form-control"
                   aria-labelledby="customer last name"
                   placeholder="Enter Name"
                   [(ngModel)]="customerModel.name"
                   [required]="requiredValues"/>
          </div>
        </div>
        <div class="form-group">
          <label for="customerMail">E-Mail</label>
          <input id="customerMail" type="email" name="mail" class="form-control"
                 aria-labelledby="customer email"
                 placeholder="Enter Customer E-Mail"
                 [(ngModel)]="customerModel.email"
                 required/>
        </div>
        <div class="form-group">
          <label for="customerBirthday">Birthday</label>
          <input id="customerBirthday" type="date" name="birthday" class="form-control"
                 aria-labelledby="customer birthday"
                 placeholder="Enter Customer Birthday"
                 [(ngModel)]="customerModel.birthday"
                 [required]="requiredValues"/>
        </div>
        <button type="submit" class="btn btn-success float-right" [disabled]="customerForm.invalid" >{{title}}</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

