<h1 class="mt-5 mb-4 left">Tickets - Check {{statusStr}}</h1>


<font size="5">
<table class="table table-borderless" bgcolor="#2E2E2E">
  <tr>
    <td scope="col"><font color="#848484">Name</font></td>
    <td scope="col">{{ticket_customer.firstname}} {{ticket_customer.name}}</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td scope="col"><font color="#848484">E-Mail</font></td>
    <td scope="col">{{ticket_customer.email}}</td>
  </tr>
  <tr>
    <td scope="col"><font color="#848484">Event</font></td>
    <td scope="col">{{ticket_show.event.artist.name}} - {{ticket_show.event.name}}</td>
  </tr>
  <tr>
    <td scope="col"><font color="#848484">Date</font></td>
    <td scope="col">{{ticket_show.date}}</td>
  </tr>
  <tr>
    <td scope="col"><font color="#848484">Location</font></td>
    <td scope="col">{{ticket_show.hall.name}}, {{ticket_show.hall.location.street}}, {{ticket_show.hall.location.postalCode}} -
      {{ticket_show.hall.location.city}}, {{ticket_show.hall.location.country}}</td>
  </tr>
  <tr>
    <td scope="col"><font color="#848484">Amount of Tickets</font></td>
    <td scope="col">{{amtTickets}}</td>
  </tr>
  <tr>
    <td scope="col"><font color="#848484">Seats</font></td>
  </tr>
  <tr *ngFor="let seat of ticket_seats">
    <td scope="col">  </td>
    <td scope="col">Seat: {{seat.seatNumber}}, Row: {{seat.seatRow}}</td>
  </tr>
  <tr>
    <td scope="col"><font color="#848484">Price Total</font></td>
    <td scope="col">{{priceTotal}}</td>
  </tr>
</table>
</font>

<div *ngIf="error === true" class="alert alert-danger alert-dismissable">
  {{errorMessage}}
  <a class="close" (click)="vanishError()">&times;</a>
</div>

<button type="button" class="btn btn-success col-2 mr-2 mb-4 float-right" (click)="createTicket()">Confirm</button>
<button type="button" class="btn btn-secondary col-2 mr-2 mb-4 float-left">Change</button>
