mat-form-field {
  margin-right: 5px;
}

.table td {
  max-width: 200px;
  word-wrap: break-word;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

ul {
  border-radius: 10px;
  border: 1px solid lightblue;
}

li {
  border-left: 1px solid lightblue;
}

li:first-child {
  border: none;
}

a:first-child {
  padding: 4px 16px; font-size: 20px;
}

a:last-child {
  padding: 4px 16px; font-size: 20px;
}

