<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="mt-4 container">

  <div class="row p-2 mb-4">
    <button *ngIf="isAdmin()" type="button" class="btn btn-secondary btn-sm mr-4" data-toggle="modal" data-target=".create-message-modal">Add user</button>
  </div>

  <div class="modal fade create-message-modal" tabindex="-1" role="dialog" aria-labelledby="Create user modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form" [formGroup]="userForm" (ngSubmit)="addUser()">

            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" name="name" formControlName="name" class="form-control" id="inputName"
                     aria-describedby="nameHelp" placeholder="Enter name">
              <div *ngIf="submitted && userForm.controls.name.errors" class="error">
                <small class="form-text text-warning" *ngIf="userForm.controls.name.errors.required">Name is
                  required!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputType">Type</label>
              <input type="text" name="type" formControlName="type" class="form-control" id="inputType"
                        aria-describedby="typeHelp" placeholder="Enter type (ADMIN/SELLER)">
              <div *ngIf="submitted && userForm.controls.type.errors" class="error">
                <small class="form-text text-warning" *ngIf="userForm.controls.type.errors.required">Type is
                  required!
                </small>
              </div>
              <div *ngIf="submitted && userForm.controls.type.value!=='ADMIN' && userForm.controls.type.value!=='SELLER'" class="error">
                <small class="form-text text-warning">Type is
                  either ADMIN or SELLER!
                </small>
              </div>
            </div>

            <button type="button" (click)="addUser()" class="btn btn-success float-right">Add user</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name}}</td>
      <td>{{user.type}}</td>
      <td>{{user.userSince}}</td>
      <td>{{user.lastLogin}}</td>
    </tr>
  </tbody>
</table>
