.delete-user-modal{
  width:25%;
  min-width: 200px;
  margin: auto;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

ul {
  border-radius: 10px;
  border: 1px solid lightblue;
}

li {
  border-left: 1px solid lightblue;
}

li:first-child {
  border: none;
}

a:first-child {
  padding: 4px 16px; font-size: 20px;
}

a:last-child {
  padding: 4px 16px; font-size: 20px;
}

input.search {
  width: 240px;
  height: 34px;
}

button.search {
  height: 32px;
}
