<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error! </strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="mt-4 container">

  <div class="row p-2 mb-4">
    <button *ngIf="isAdmin()" (click)="clearForm()" type="button" class="btn btn-secondary btn-sm mr-4" data-toggle="modal" data-target=".create-user-modal">Add user</button>
  </div>
  <div class="row p-2 mb-4">
    <button *ngIf="isAdmin()" type="button" class="btn btn-secondary btn-sm mr-4" routerLink="/user/blocked" routerLinkActive="active">Show blocked Users</button>
  </div>

  <div class="modal fade create-user-modal" tabindex="-1" role="dialog" aria-labelledby="Create user modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form" [formGroup]="userForm" (ngSubmit)="addUser()">

            <div class="form-group">
              <label for="inputUsername">Username</label>
              <input type="text" name="username" formControlName="username" class="form-control" id="inputUsername"
                     aria-describedby="usernameHelp" placeholder="Enter username">
              <div *ngIf="submitted && userForm.controls.username.errors" class="error">
                <small class="form-text text-warning" *ngIf="userForm.controls.username.errors.required">Username is
                  required!
                </small>
              </div>
              <div *ngIf="submitted && usernameError" class="error">
                <small class="form-text text-warning">User with the same
                  username already exists!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="inputPassword"
                     aria-describedby="passwordHelp" placeholder="Enter password">
              <div *ngIf="submitted && userForm.controls.password.errors" class="error">
                <small class="form-text text-warning" *ngIf="userForm.controls.password.errors.required">Password is
                  required!
                </small>
              </div>
              <div *ngIf="submitted && userForm.controls.password.value.length < 8 && userForm.controls.password.value.length > 0" class="error">
                <small class="form-text text-warning">Password must
                  be at least 8 characters long!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputRePassword">Confirm Password</label>
              <input type="password" name="rePassword" formControlName="rePassword" class="form-control" id="inputRePassword"
                     aria-describedby="rePasswordHelp" placeholder="Re-enter password">
              <div *ngIf="submitted && userForm.controls.rePassword.value === userForm.controls.password.value && userForm.controls.rePassword.value === ''" class="error">
                <small class="form-text text-warning">Password is
                  required!
                </small>
              </div>
              <div *ngIf="submitted && userForm.controls.rePassword.value !== userForm.controls.password.value" class="error">
                <small class="form-text text-warning">Passwords don't
                  match!
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="inputType">Type</label>
              <input type="text" name="type" formControlName="type" class="form-control" id="inputType"
                        aria-describedby="typeHelp" placeholder="Enter type (ADMIN/SELLER)">
              <div *ngIf="submitted && userForm.controls.type.errors" class="error">
                <small class="form-text text-warning" *ngIf="userForm.controls.type.errors.required">Type is
                  required!
                </small>
              </div>
              <div *ngIf="submitted && userForm.controls.type.value!=='ADMIN' && userForm.controls.type.value!=='SELLER'" class="error">
                <small class="form-text text-warning">Type is
                  either ADMIN or SELLER!
                </small>
              </div>
            </div>

            <button type="button" (click)="addUser()" class="btn btn-success float-right">Add user</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row" class="align-middle">{{user.id}}</th>
      <td class="align-middle">{{user.username}}</td>
      <td class="align-middle">{{user.type}}</td>
      <td class="align-middle">{{user.userSince}}</td>
      <td class="align-middle">{{user.lastLogin}}</td>
      <td class="align-middle"><img (click)="deleteUser(user.id)" src="../../../assets/trash.png" width="25" height="25" alt="delete"></td>
    </tr>
  </tbody>
</table>
