.customerForm{
  width: 50%;

  table {
    tr{
      td{
        font-size: 22px;
      }

      td:first-child{
        color: #848484;
        padding-left: 0;
      }
    }
  }
}

.floorplanTickets {
  height: 72vh;
  width: 30%;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);

  button {
    background-color: #3f51b5;
    margin: 0;
    width: 100%;
  }
}


.customerPagination{
  a{
    cursor: pointer;
  }
}
