<h1 class="mt-5 mb-4 left">Events</h1>
<button mat-raised-button routerLink="/events/topten" id="top_ten" color="primary" class="mt-5 mb-4 right">Top 10</button>
<button mat-raised-button routerLink="/events/search" id="search" color="primary" class="mr-3 mt-5 mb-4 right">Search</button>

<div *ngIf="dataReady">
<table class="table mb-3" >
  <thead>
    <tr>
      <th style="width: 45%">Name</th>
      <th style="width: 20%">Type</th>
      <th style="width: 35%">Artist</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events" routerLink="/events/search/results/shows"
        [queryParams]="{resultsFor: 'EVENT', name: event.name}">
      <td *ngIf="event.name">{{event.name}}</td>
      <td *ngIf="event.eventType">{{event.eventType.toString().toLowerCase()}}</td>
      <td *ngIf="event.artist">{{event.artist.name}}</td>
      <td *ngIf="!event.artist">&nbsp;</td>
    </tr>
    </tbody>
  </table>
  <hr class="hr-bold">
  <div class="justify-content-center" *ngIf="totalPages > 1">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="" (click)="setPage(0, $event)">«</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="previousPage($event)">Previous</a>
      </li>
      <li class="nav-item" *ngIf="page - 5 > 0 && totalPages > 11">
        <a class="nav-link">...</a>
      </li>
      <li class="nav-item" *ngFor="let p of pageRange;">
        <a class="nav-link" href="" (click)="setPage(p, $event)" [ngClass]="{'active': p == page}">{{p + 1}}</a>
      </li>
      <li class="nav-item" *ngIf="totalPages - 5 > page && totalPages > 11">
        <a class="nav-link">...</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="nextPage($event)">Next</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="setPage(totalPages - 1, $event)">»</a>
      </li>
    </ul>
  </div>
</div>
