<h1 class="mt-5 mb-4 left">Events</h1>
<button mat-raised-button routerLink="/events/topten" id="top_ten" color="primary" class="mt-5 mb-4 right">Top 10</button>
<button mat-raised-button routerLink="/events/search" id="search" color="primary" class="mr-3 mt-5 mb-4 right">Search</button>

<table class="table mb-3" *ngIf="dataReady">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events | slice: (page - 1) * pageSize : page * pageSize" routerLink="/events/search/results/shows" [queryParams]="{resultsFor: 'EVENT', name: event.name}">
      <td>{{event.name}}</td>
      <td *ngIf="event.eventType">{{event.eventType.toString().toLowerCase()}}</td>
      <td *ngIf="event.artist">{{event.artist.name}}</td>
    </tr>
  </tbody>
</table>
<div class="justify-content-center">
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="events.length"
    *ngIf="dataReady"></ngb-pagination>
</div>
